global-exclude *~
include setup.py
include README
include CONTRIBUTORS
include MANIFEST.in
include LICENSE
include RELEASE.rst
include tox.ini
include *.py
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs *.bat
recursive-include docs Makefile
recursive-include paypal *.html
recursive-include paypal *.yaml
