include setup.py
include *.rst
include *.md
include MANIFEST.in
include LICENSE
include tox.ini
include *.py
include *.sh
include *.txt
include *.yaml
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs *.bat
recursive-include docs Makefile
recursive-include paypal *.html
recursive-include paypal *.yaml
recursive-include paypal *.pem
